{% extends 'base.html.twig' %}

{% form_theme formArticle 'bootstrap_4_layout.html.twig' %}

{% block title %}
{{controllerName}}  createArticle
{% endblock %}
  
{% block body %}

        {% if editMode %}
            <h1>Edit an article here!</h1>
        {% else %}
            <h1>Create an article here!</h1>
        {% endif %}
        
    {{ form_start(formArticle) }}

    {{form_row(formArticle.title, {'attr': {'placeholder': "Article title"}}  )}}
    {{form_row(formArticle.category )}}

    {{form_row(formArticle.content, {'attr': {'placeholder': "Article content"}}  )}}
    {{form_row(formArticle.image, {'attr': {'placeholder': "Image URL"}}  )}}

    <button type="submit" class="btn btn-success">
        {% if editMode %}
            Save it!
        {% else %}
            Add article
        {% endif %}

    </button>

    {{ form_end(formArticle) }}
{% endblock %}
